services:
  server:
    build:
      context: .
      target: runner
    restart: always

  app:
    build:
      context: .
      target: runner
      args:
        - PREFIX=${PREFIX}
    restart: always
