@import "tailwindcss";

@theme {
  --color-primary-light: #d98b1f;
  --color-primary-dark: #73512c;

  --color-secondary-light: #2f3b47;
  --color-secondary-dark: #2d3741;

  --font-sans: var(--font-montserrat);

  --animate-fade-in: fadeIn 0.3s ease-in-out;
  --animate-fade-out: fadeOut 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    flex: 0;
    transform: translateY(-0.5rem);
  }

  to {
    opacity: 1;
    flex: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    flex: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    flex: 0;
    transform: translateY(-0.5rem);
  }
}
