name: Deploy

on:
  push:
    branches: ["master"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Connect and Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          script: |
            cd /www/wwwroot/lab.nogueirawelton.com.br/app/diagrama-do-cerrado

            git reset --hard origin/master

            git pull origin master

            docker compose up -f docker-compose.yml -f docker-compose.prod.yml -d --build --remove-orphans

            docker image prune -f
